p {
    text-align: justify;
    text-indent: 1cm;
    margin: 0;
    line-height: 1.25em;
}

ul li a {
    line-height: 1.5em;
}

.authors {
    text-align: center;
}

.author {
    font-size: 1.4em;
}

.title {
    text-align: center;
    font-size: 2em;
    margin-top: 5em;
}
